.detailsBanner {
    width: 100%;
    background-color: var(--black);
    padding-top: 100px;
    margin-bottom: 50px;
  
    .backdrop-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      overflow: hidden;
  
      .lazy-load-image-background {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  
    .opacity-layer {
      width: 100%;
      height: 250px;
      background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    .content {
      display: flex;
      position: relative;
      flex-direction: column !important;
      gap: 25px;
  
      .right {
        color: white;
  
        .title {
          font-size: 28px;
          line-height: 40px;
        }
  
        .overview {
          margin-bottom: 25px;
  
          .heading {
            font-size: 24px;
            margin-bottom: 10px;
          }
  
          .description {
            line-height: 24px;
            color: white;
            height: 100%;
            width: 300px;
            line-height: 24px;
            color: white;
          }
        }
  
        .circleRating {
          width: 70px !important;
          background-color: var(--black2);
          color: white;
  
          .CircularProgressbar-text {
            font-size: 34px;
            font-weight: 700;
            fill: var(--pink);
          }
        }
  
        .playbtn {
          display: flex;
          align-items: center;
          gap: 20px;
          cursor: pointer;
  
          svg {
            width: 60px;
          }
  
          .text {
            font-size: 20px;
            transition: all 0.7s ease-in-out;
            color: white;
          }
        }
  
        .info {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding: 15px 0;
          display: flex;
        }
      }
    }
  
    .detailsBannerSkeleton {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 25px;
  
      .left {
        flex-shrink: 0;
        width: 100%;
        display: block;
        border-radius: 12px;
        aspect-ratio: 0.6666666667;
        max-width: 350px;
      }
  
      .contentWrapper {
        display: flex;
        gap: 50px;
  
        .right {
          width: 100%;
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
    .detailsBanner {
      margin-bottom: 0;
      padding-top: 120px;
      min-height: 700px;
  
      .content {
        gap: 50px;
        flex-direction: row;
  
        .left {
          flex-shrink: 0;
          .posterImg {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 12px;
          }
        }
  
        .right {
          .title {
            font-size: 34px;
            line-height:48px;
          }
          .overview {
            width: 500px;
          }
      
          .playbtn {
            svg {
              width: 80px;
            }
      
            .text {
              font-size: 24px;
            }
          }
        }
      
        .info {
          flex-direction: column;
          gap: 10px;
          align-items: flex-start;
          padding-top: 20px;
        }
      }
      
      .detailsBannerSkeleton {
        .left {
          max-width: 500px;
        }
      }
    }
}
@media only screen and (min-width: 1024px) {
    .detailsBanner {
      .content {
        .right {
          .title {
            font-size: 42px;
            line-height: 56px;
          }
  
          .overview {
            width: 600px;
            margin-bottom: 50px;
  
            .heading {
              font-size: 28px;
              margin-bottom: 20px;
            }
  
            .description {
              font-size: 20px;
              line-height: 30px;
            }
          }
  
          .circleRating {
          width: 100px;
  
            .CircularProgressbar-text {
              font-size: 42px;
            }
          }
  
          .playbtn {
            .text {
              font-size: 28px;
            }
          }
        }
  
        .info {
          gap: 20px;
          padding-top: 50px;
  
          .infoItem {
            display: flex;
            align-items: center;
            gap: 10px;
  
            .label {
              font-size: 24px;
              font-weight: 500;
            }
  
            .value {
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
      }
  
      .detailsBannerSkeleton {
        .left {
          max-width: 700px;
        }
  
        .contentWrapper {
          .right {
            width: calc(100% - 700px);
          }
        }
      }
    }
  }

  